@font-face
  font-family: 'pandazone'
  src:  url('../fonts/pandazone.eot?chixyr')
  src:  url('../fonts/pandazone.eot?chixyr#iefix') format('embedded-opentype'),
    url('../fonts/pandazone.ttf?chixyr') format('truetype'),
    url('../fonts/pandazone.woff?chixyr') format('woff'),
    url('../fonts/pandazone.svg?chixyr#pandazone') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pandazone' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-github:before
  content: "\e90d"

.icon-weixin:before
  content: "\e910"

.icon-biaoqian:before
  content: "\e900"

.icon-dianzan:before
  content: "\e901"

.icon-gerenxinxi:before
  content: "\e902"

.icon-gerenzhuye:before
  content: "\e903"

.icon-fangwen:before
  content: "\e904"

.icon-huxiangguanzhu:before
  content: "\e905"

.icon-jiaguanzhu:before
  content: "\e906"

.icon-wodezhuye:before
  content: "\e907"

.icon-pinglun:before
  content: "\e908"

.icon-qianming:before
  content: "\e909"

.icon-shezhi:before
  content: "\e90a"

.icon-aihao:before
  content: "\e90b"

.icon-tuichu:before
  content: "\e90c"

.icon-xiangji:before
  content: "\e90e"

.icon-yiguanzhu:before
  content: "\e90f"


